<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>10,000 Lakes</title>    
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/sublibrarian.css" type="text/css" media="screen" />
	<!--[if gte IE 7]>
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/sublibrarian-ie7.css" type="text/css" media="screen" />
	<![endif]      -->
	<!--[if lte IE 6]>
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/sublibrarian-ie6.css" type="text/css" media="screen" />
	<![endif]-->
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAsj6_GpuLRzFLZzAhMDDZ9RTSR4hu7PnnIX32RAAqs8bQnjniuBS7EDu-Pw4pm2UhKAtbmv85jD5wUg&sensor=false"
            type="text/javascript"></script>
    <script src="/media/mncounties.js"
    		type="text/javascript"></script>
    <script src="/media/jquery-1.3.2.js"
            type="text/javascript"></script>
    <script src="/media/titlecaps.js"
            type="text/javascript"></script>
    <script type="text/javascript">
    var map;
    var gmarkers = [];
    function initialize() {
        if (GBrowserIsCompatible()) {
      	  map = new GMap2(document.getElementById("map_canvas"));
      	  var sw = new GLatLng(43.499355999999999, -97.239209000000002);
      	  var ne = new GLatLng(49.384357999999999, -89.489226000000002);
      	  var bounds = new GLatLngBounds(sw, ne);
      	  var mapZoomLevel = map.getBoundsZoomLevel(bounds);
      	  var mapCenter = new GLatLng(46.441857, -93.3642175);
      	  var gpolygons = {};
      	  map.setCenter(mapCenter, mapZoomLevel);
      	  var i;
    
          // instantiate GPolygon objects.
  		  for (i in countypolygons) {
  		    if (typeof countypolygons[i] !== 'function') {
  		      gpolygons[i] = new GPolygon.fromEncoded(countypolygons[i]);
  		      map.addOverlay(gpolygons[i]);
  		    } 
  		  }
  	     var lastSelected = null;
  	     /*
      	 GEvent.addListener(map, 'click', function(overlay, latlng) {
        	//var lat = latlng.lat();
      	    //var lon = latlng.lng();
            var mykey;
            /*
            for (mykey in gpolygons) {
                map.removeOverlay(gpolygons[mykey]);
        		if (typeof gpolygons[mykey] !== 'function') {
           	    if (overlay != null && overlay != gpolygons[mykey]) {
	              	gpolygons[mykey].setStrokeStyle({"color": overlay.color});
	              	gpolygons[mykey].setFillStyle({"color": overlay.fill});
           	    }
           	    map.addOverlay(gpolygons[mykey]);
  			 }			
      	    }*/
  	    /*
            if (null != lastSelected)
	      	{
	         	lastSelected.setStrokeStyle({"weight":2, "opacity":0.7});
	         	lastSelected.setFillStyle({"opacity": 0.4}); 
	      	}
	        if (null != overlay)
	        {
	            map.removeOverlay(overlay);
				//overlay.setStrokeStyle({"color": "#ffffff", "opacity": 0.99, "weight":2});
				//overlay.setFillStyle({"color": "#dddd00", "opacity": 0.3});     
				overlay.setStrokeStyle({"weight":6, "opacity":1.0}); 
				overlay.setFillStyle({"opacity": 0.7}); 
				map.addOverlay(overlay);
				lastSelected = overlay; 
	         }      
      	  });
     	  */
    	    
        }
      }

    function createMarker(lakes, i) {
	    var point = new GLatLng(
	            lakes["lakes"][i]["fields"]["lat"], 
	            lakes["lakes"][i]["fields"]["lon"]);
	    var marker = new GMarker(point);
	    var icon = new GIcon();
	    icon.image = "http://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Fugu_icon.png/120px-Fugu_icon.png";
	    marker.icon = icon;
	    GEvent.addListener(marker, 'click', 
	        function(point) {
	        var rank = parseInt(i) + 1;
	        var info = '<div class="infotitle">#' + rank 
	        + ' ' + titleCaps(lakes["lakes"][i]["fields"]["name"])
	        + ' (' + lakes["samples"][i]["fields"]["year"]
	        + ')</div>';
	        info += "Gear: " + lakes["gear"][i]["fields"]["description"] + "<br/>";
            info += "Average caught: " + lakes["samples"][i]["fields"]["numPerNet"] + "<br/>";
            if ( lakes["samples"][i]["fields"]["weight"] > 0) {
                info += "Average weight: " + lakes["samples"][i]["fields"]["weight"] + " lbs<br/>";
            } else {
                info += "Weight not recorded.<br/>";
            }

            //average weight: 123 lbs (normal range 123-124lbs)
		    //caught: 1234 (normal range 1234-2345)
		    
	        info += '<a class="infolink" target="_blank" href="http://www.dnr.state.mn.us/lakefind/showreport.html?downum=' 
	            + lakes["lakes"][i]["fields"]["dnr_id"] + '">source »</a>';                    
	        map.openInfoWindowHtml(point, info); 
	        }
	    );
	    return marker;
    }
    
    function getFish() {
        map.closeInfoWindow();

        var fishSelector = $("select#fish")[0];
        var orderBySelector = $("select#orderby")[0];

        var fishId = fishSelector.options[fishSelector.selectedIndex].value;
        var orderBy = orderBySelector.options[orderBySelector.selectedIndex].value;
        $.getJSON("/fish/lakes?fish=" + fishId + "&orderby=" + orderBy,
          function(data) {
            var i = 0;
            for (i in gmarkers)
            {
                map.removeOverlay(gmarkers[i]);
            }
            gmarkers = []; 
            i = 0;
            for (i in data["lakes"]) {
                marker = createMarker(data, i);
                gmarkers.push(marker);  
                map.addOverlay(marker);              
            }            
          });
        }
                
    </script>
  </head>
  <body onload="initialize()" onunload="GUnload()">
    <div id="map_canvas" style="width: 400px; height: 400px"></div>
    <div id="arrow_box">
    </div>
    <div id="query_box">
	    Show me lakes with the highest 
	    <select id="orderby" onchange="javascript:getFish();">
	    {% for option in orderByOptions %}<option value="{{option.value}}">{{ option.label }}</option>{% endfor %}
	    </select>
	    of 
	    <select id="fish" onchange="javascript:getFish();">
	    {% for f in fish %}<option value="{{f.id}}">{{ f.name }}</option>{% endfor %}
	    </select>.
    </div>
  </body>
</html>
