<html>
<head>
<title>Sublibrarian - coming soon</title>
<link rel="stylesheet" href="{{ MEDIA_URL }}css/sublibrarian.css" type="text/css" media="screen" />
<!--[if gte IE 7]>
<link rel="stylesheet" href="{{ MEDIA_URL }}css/sublibrarian-ie7.css" type="text/css" media="screen" />
<![endif]-->
<!--[if lte IE 6]>
<link rel="stylesheet" href="{{ MEDIA_URL }}css/sublibrarian-ie6.css" type="text/css" media="screen" />
<![endif]-->

</head>
<body>
<div id="splash">
<img src="{{ MEDIA_URL }}css/librarian-mustache.jpg"></img></div>
<!-- <script type="text/javascript" src="{{ MEDIA_URL }}test.js"></script> -->
</body>
</html>